.home {
}
.header {
}
.header h1 {
}
.elements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10em;
}
.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card::before {
  content: "";
  width: 20em;
  height: 20em;
  position: absolute;

  border-radius: 21% 79% 64% 36% / 27% 42% 58% 73%;
  background: linear-gradient(60deg, #dc8665, #e7ab63);
}
.card img {
  width: 15em;
  position: relative;
  z-index: 10;
}
.card h3 {
  position: relative;
  z-index: 10;
}
